In [1]:
import pandas as pd

data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/abalone_data/training_set_label.csv" )

data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,F,0.525,0.400,0.135,0.7140,0.3180,0.1380,0.208,10
1,F,0.445,0.325,0.125,0.4550,0.1785,0.1125,0.140,9
2,M,0.710,0.540,0.165,1.9590,0.7665,0.2610,0.780,18
3,F,0.680,0.580,0.200,1.7870,0.5850,0.4530,0.600,19
4,M,0.605,0.470,0.160,1.1735,0.4975,0.2405,0.345,12

In [2]:
data['Sex'] = data['Sex'].map({
    'F': 0,
    'M': 1
})

data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,0.0,0.525,0.400,0.135,0.7140,0.3180,0.1380,0.208,10
1,0.0,0.445,0.325,0.125,0.4550,0.1785,0.1125,0.140,9
2,1.0,0.710,0.540,0.165,1.9590,0.7665,0.2610,0.780,18
3,0.0,0.680,0.580,0.200,1.7870,0.5850,0.4530,0.600,19
4,1.0,0.605,0.470,0.160,1.1735,0.4975,0.2405,0.345,12

In [3]:
X = data.drop(['Rings'], axis=1)
Y = data.Rings

xData = X.values
yData = Y.values

In [4]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.1, random_state = 365)

In [6]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

23.56687898089172

In [7]:
test = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/abalone_data/testing_set_label.csv')
test['Sex'] = test['Sex'].map({
    'F': 0,
    'M': 1
})
test.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,0.0,0.555,0.445,0.175,1.1465,0.5510,0.2440,0.2785
1,NaN,0.360,0.270,0.090,0.2190,0.0970,0.0405,0.0650
2,NaN,0.395,0.320,0.100,0.3075,0.1490,0.0535,0.0900
3,0.0,0.585,0.450,0.170,0.8685,0.3325,0.1635,0.2700
4,0.0,0.575,0.460,0.160,1.1030,0.5380,0.2210,0.2490

In [9]:
vals = model.predict(test.values)

In [11]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res.to_csv("AbalonePred.csv", index = False)