In [1]:
import pandas as pd

data = pd.read_csv(r'C:/Users/shahe/Desktop/bikeTrain.csv')

data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,427,2019-01-18 15:26:26,2019-01-18 15:33:33,31600,5th & K St NW,31503,Florida Ave & R St NW,W22947,1
1,510,2019-09-11 23:19:49,2019-09-11 23:28:19,31283,14th & L St NW,31229,New Hampshire Ave & T St NW,78595,1
2,644,2019-05-01 08:25:16,2019-05-01 08:36:00,31214,17th & Corcoran St NW,31230,Metro Center / 12th & G St NW,W22374,1
3,748,2019-04-30 09:16:15,2019-04-30 09:28:43,31058,Columbia Pike & S Oakland St,31026,Washington Blvd & 10th St N,W23073,1
4,284,2019-07-26 12:32:35,2019-07-26 12:37:19,31230,Metro Center / 12th & G St NW,31620,5th & F St NW,W00951,1

In [2]:
data.fillna(0, inplace=True)

In [3]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,427,2019-01-18 15:26:26,2019-01-18 15:33:33,31600,5th & K St NW,31503,Florida Ave & R St NW,W22947,1
1,510,2019-09-11 23:19:49,2019-09-11 23:28:19,31283,14th & L St NW,31229,New Hampshire Ave & T St NW,78595,1
2,644,2019-05-01 08:25:16,2019-05-01 08:36:00,31214,17th & Corcoran St NW,31230,Metro Center / 12th & G St NW,W22374,1
3,748,2019-04-30 09:16:15,2019-04-30 09:28:43,31058,Columbia Pike & S Oakland St,31026,Washington Blvd & 10th St N,W23073,1
4,284,2019-07-26 12:32:35,2019-07-26 12:37:19,31230,Metro Center / 12th & G St NW,31620,5th & F St NW,W00951,1

In [4]:
data['Bike number'] = data['Bike number'].str.replace('W.', '', regex=True)

In [5]:
data['Bike number'] = data['Bike number'].str.replace('E.', '', regex=True)

In [12]:
X = data[['Duration','Bike number']]
Y = data['Member type']

xData = X.values
yData = Y.values

In [13]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.33, random_state = 365)

In [14]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

88.09467387220761

In [25]:
test = pd.read_csv(r'C:/Users/shahe/Desktop/bikeTest.csv')

In [26]:
test['Bike number'] = test['Bike number'].str.replace('W.', '', regex=True)
test['Bike number'] = test['Bike number'].str.replace('E.', '', regex=True)
x = test[['Duration','Bike number']]

In [27]:
vals = model.predict(x.values)

In [28]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res.to_csv("BikeSharePred.csv", index = False)