In [1]:
import pandas as pd
ccpp_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/CCPP/Training_set_ccpp.csv')

ccpp_data.head()

      AT     EV       AP     RH      PE
0  29.95  73.42  1011.44  66.32  432.81
1   5.76  40.07  1013.22  62.99  494.67
2  29.44  64.33  1011.40  61.78  442.32
3  32.83  74.33  1011.44  50.42  427.36
4  16.86  39.63  1004.47  83.50  466.68

In [2]:
Y = ccpp_data['PE']
featureCols = ['AT', 'EV', 'AP', 'RH']
X = ccpp_data[featureCols]

In [3]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, 
                                test_size=0.33, 
                                random_state=0)

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(x_train, y_train)
y_pred=model.predict(x_test)
print(accuracy_score(y_test, y_pred)*100)

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
# model evaluation for training set
y_train_predict = model.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict)))
r2 = r2_score(y_train, y_train_predict)

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

In [4]:
from sklearn.linear_model import LinearRegression
logreg = LinearRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

In [5]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
# model evaluation for training set
y_train_predict = logreg.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict)))
r2 = r2_score(y_train, y_train_predict)

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

The model performance for training set
--------------------------------------
RMSE is 4.477875261165268
R2 score is 0.9312160458656723

In [7]:
CCPP_eval = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/CCPP/Testing_set_ccpp.csv')
CCPP_eval.head()

      AT     EV       AP     RH
0  19.64  48.06  1014.81  74.96
1  28.26  69.23  1013.01  42.10
2  27.98  67.17  1007.32  75.29
3  28.64  69.23  1013.11  37.13
4   9.34  38.08  1019.56  67.74

In [8]:
vals = logreg.predict(CCPP_eval)

In [10]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res.to_csv("prediction_results_SS1.csv", index = False)