In [1]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/connect-4/train_set_label.csv")

data.head()

  a1 a2 a3 a4 a5 a6 b1 b2 b3 b4  ...  f4 f5 f6 g1 g2 g3 g4 g5 g6 class
0  b  b  b  b  b  b  o  o  x  b  ...   b  b  b  b  b  b  b  b  b  loss
1  b  b  b  b  b  b  o  b  b  b  ...   b  b  b  b  b  b  b  b  b  loss
2  x  x  o  b  b  b  o  b  b  b  ...   b  b  b  b  b  b  b  b  b   win
3  x  x  b  b  b  b  o  b  b  b  ...   b  b  b  o  x  o  x  b  b   win
4  x  x  o  o  b  b  o  b  b  b  ...   b  b  b  b  b  b  b  b  b   win

[5 rows x 43 columns]

In [2]:
data['a1'] = data['a1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['a2'] = data['a2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['a3'] = data['a3'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['a4'] = data['a4'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['a5'] = data['a5'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['a6'] = data['a6'].map({
    'x': 0,
    'b': 1,
    'o': 2
})

data['b1'] = data['b1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['b2'] = data['b2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['b3'] = data['b3'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['b4'] = data['b4'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['b5'] = data['b5'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['b6'] = data['b6'].map({
    'x': 0,
    'b': 1,
    'o': 2
})

data['c1'] = data['c1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['c2'] = data['c2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['c3'] = data['c3'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['c4'] = data['c4'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['c5'] = data['c5'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['c6'] = data['c6'].map({
    'x': 0,
    'b': 1,
    'o': 2
})

data['d1'] = data['d1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['d2'] = data['d2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
data['d3'] = data['d3'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['d4'] = data['d4'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['d5'] = data['d5'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['d6'] = data['d6'].map({
    'x': 0,
    'b': 1,'o': 2
})

data['e1'] = data['e1'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['e2'] = data['e2'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['e3'] = data['e3'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['e4'] = data['e4'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['e5'] = data['e5'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['e6'] = data['e6'].map({
    'x': 0,
    'b': 1,'o': 2
})

data['f1'] = data['f1'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['f2'] = data['f2'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['f3'] = data['f3'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['f4'] = data['f4'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['f5'] = data['f5'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['f6'] = data['f6'].map({
    'x': 0,
    'b': 1,'o': 2
})

data['g1'] = data['g1'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['g2'] = data['g2'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['g3'] = data['g3'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['g4'] = data['g4'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['g5'] = data['g5'].map({
    'x': 0,
    'b': 1,'o': 2
})
data['g6'] = data['g6'].map({
    'x': 0,
    'b': 1,'o': 2
})

data['class'] = data['class'].map({
    'win': 4,
    'loss': 5,
    'draw': 6
})
data.head()

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
0,1,1,1,1,1,1,2,2,0,1,...,1,1,1,1,1,1,1,1,1,5
1,1,1,1,1,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,5
2,0,0,2,1,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,4
3,0,0,1,1,1,1,2,1,1,1,...,1,1,1,2,0,2,0,1,1,4
4,0,0,2,2,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,4

In [3]:
data = data.fillna('786')
data.head()

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
0,1,1,1,1,1,1,2,2,0,1,...,1,1,1,1,1,1,1,1,1,5
1,1,1,1,1,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,5
2,0,0,2,1,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,4
3,0,0,1,1,1,1,2,1,1,1,...,1,1,1,2,0,2,0,1,1,4
4,0,0,2,2,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,4

In [4]:
X = data.drop(['class'], axis=1)
Y = data['class']

print(X.shape)
print(Y.shape)

xData = X.values
yData = Y.values

(50667, 42)
(50667,)

In [46]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.2) 

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

82.97809354647721

In [8]:
test_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/connect-4/test_set_label.csv")

In [9]:
test_data['a1'] = test_data['a1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['a2'] = test_data['a2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['a3'] = test_data['a3'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['a4'] = test_data['a4'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['a5'] = test_data['a5'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['a6'] = test_data['a6'].map({
    'x': 0,
    'b': 1,
    'o': 2
})

test_data['b1'] = test_data['b1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['b2'] = test_data['b2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['b3'] = test_data['b3'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['b4'] = test_data['b4'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['b5'] = test_data['b5'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['b6'] = test_data['b6'].map({
    'x': 0,
    'b': 1,
    'o': 2
})

test_data['c1'] = test_data['c1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['c2'] = test_data['c2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['c3'] = test_data['c3'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['c4'] = test_data['c4'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['c5'] = test_data['c5'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['c6'] = test_data['c6'].map({
    'x': 0,
    'b': 1,
    'o': 2
})

test_data['d1'] = test_data['d1'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['d2'] = test_data['d2'].map({
    'x': 0,
    'b': 1,
    'o': 2
})
test_data['d3'] = test_data['d3'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['d4'] = test_data['d4'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['d5'] = test_data['d5'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['d6'] = test_data['d6'].map({
    'x': 0,
    'b': 1,'o': 2
})

test_data['e1'] = test_data['e1'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['e2'] = test_data['e2'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['e3'] = test_data['e3'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['e4'] = test_data['e4'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['e5'] = test_data['e5'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['e6'] = test_data['e6'].map({
    'x': 0,
    'b': 1,'o': 2
})

test_data['f1'] = test_data['f1'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['f2'] = test_data['f2'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['f3'] = test_data['f3'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['f4'] = test_data['f4'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['f5'] = test_data['f5'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['f6'] = test_data['f6'].map({
    'x': 0,
    'b': 1,'o': 2
})

test_data['g1'] = test_data['g1'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['g2'] = test_data['g2'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['g3'] = test_data['g3'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['g4'] = test_data['g4'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['g5'] = test_data['g5'].map({
    'x': 0,
    'b': 1,'o': 2
})
test_data['g6'] = test_data['g6'].map({
    'x': 0,
    'b': 1,'o': 2
})

In [36]:
vals= model.predict(test_data.values)

In [37]:
preds = []
for i in vals:
    if i == 4: preds.append('win')
    elif i == 5: preds.append('loss')
    else: preds.append('draw')

In [38]:
res = pd.DataFrame(preds)
res.columns = ["prediction"]
res.to_csv("Connect-4.csv", index = False)