In [1]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/train_set_label.csv")
data.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015,PoliticalParty
0,61,183414,-12402,1,2,28,1,0,0,1,Democrat
1,501,129786,700251,2,5,63,3,0,0,0,Republican
2,658,268343,493411,2,4,44,1,1,0,1,Independent
3,703,290506,-433408,1,1,28,5,1,0,1,Republican
4,702,90108,907135,1,3,57,5,1,1,0,Democrat

In [2]:
list(set(data.PoliticalParty))

['Republican', 'Independent', 'Democrat']

In [3]:
data['PoliticalParty'] = data['PoliticalParty'].map({
    'Democrat':0, 'Independent':1, 'Republican':2
})
data.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015,PoliticalParty
0,61,183414,-12402,1,2,28,1,0,0,1,0
1,501,129786,700251,2,5,63,3,0,0,0,2
2,658,268343,493411,2,4,44,1,1,0,1,1
3,703,290506,-433408,1,1,28,5,1,0,1,2
4,702,90108,907135,1,3,57,5,1,1,0,0

In [4]:
X = data[['Filed in 2017', 'Filed in 2016', 'Filed in 2015']]
Y = data.PoliticalParty

xData = X.values
yData = Y.values

In [5]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.33, random_state = 365)

In [6]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

32.075471698113205

In [7]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=25, random_state=0)
clf.fit(xTrain, yTrain)
y_pred=clf.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

32.075471698113205

In [8]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(xTrain,yTrain)
y_pred=logreg.predict(xTest)

from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(yTest, y_pred))

Accuracy: 0.35471698113207545

In [9]:
from sklearn import linear_model
reg = linear_model.BayesianRidge()
reg.fit(xTrain, yTrain)
y_pred=logreg.predict(xTest)

from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(yTest, y_pred))

Accuracy: 0.35471698113207545

In [10]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)
clf.fit(xTrain, yTrain)
clf.predict(xTest)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(yTest, y_pred))

Accuracy: 0.35471698113207545

C:\Users\shahe\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:557: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

In [13]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/test_set_label.csv')

X = data[['Filed in 2017', 'Filed in 2016', 'Filed in 2015']].values

vals = clf.predict(X)

In [20]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res['prediction'] = res['prediction'].map({
    0: 'Democrat',
    1: 'Republican',
    2: 'Independent'
})
res.to_csv("Shaheen_Solwa_A2_Beg.csv", index = False)

     prediction
0      Democrat
1      Democrat
2      Democrat
3      Democrat
4    Republican
5      Democrat
6      Democrat
7      Democrat
8      Democrat
9      Democrat
10     Democrat
11     Democrat
12     Democrat
13     Democrat
14     Democrat
15     Democrat
16     Democrat
17     Democrat
18     Democrat
19     Democrat
20     Democrat
21     Democrat
22   Republican
23     Democrat
24     Democrat
25     Democrat
26     Democrat
27     Democrat
28     Democrat
29     Democrat
..          ...
773    Democrat
774    Democrat
775  Republican
776    Democrat
777  Republican
778    Democrat
779    Democrat
780    Democrat
781    Democrat
782    Democrat
783    Democrat
784  Republican
785    Democrat
786    Democrat
787    Democrat
788    Democrat
789    Democrat
790    Democrat
791    Democrat
792    Democrat
793    Democrat
794    Democrat
795  Republican
796    Democrat
797  Republican
798    Democrat
799    Democrat
800    Democrat
801    Democrat
802    Democrat

[803 rows x 1 columns]