In [1]:
import pandas as pd

data = pd.read_csv(r'C:/Users/shahe/Desktop/train.csv')

data.head()

,Year,TA01,TA02,TA03,TA04,TA05,TA06,TA07,TA08,TA09,...,TC69,TC70,TC71,TC72,TC73,TC74,TC75,TC76,TC77,TC78
0,2001,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,7.83089,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
1,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903

In [2]:
X = data.drop(['Year'],axis=1)
Y = data.Year

xData = X.values
yData = Y.values

In [4]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.3, random_state = 0)

In [4]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=10)
logreg.fit(xTrain,yTrain)
y_pred=logreg.predict(xTest)

from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(yTest, y_pred))

Accuracy: 0.07817217286293453

C:\Users\shahe\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:939: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html.
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=1, random_state=0)
clf.fit(xTrain, yTrain)
y_pred=clf.predict(xTest)

In [ ]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(xTrain, yTrain)

y_pred=clf.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

In [13]:
test = pd.read_csv('C:/Users/shahe/Desktop/test.csv')

In [14]:
X = test.values

In [15]:
vals = clf.predict(test.values)

In [16]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res.to_csv("Songpred.csv", index = False)