In [1]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/auction_data/train_set_label.csv" )

data.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price
0,1644594033,493.0,6.999456,boraborabora,67,9.99,498.00
1,1639309309,30.0,1.669618,aclbjc,0,1.00,374.99
2,1644109746,3103.0,6.917986,nelsoncpm,7,1.00,3103.00
3,1649858595,175.0,3.107014,pialu9,4,7.99,202.50
4,1647846714,226.0,2.721319,geemeetee@aol.com,17,1.00,905.45

In [2]:
X = data[['bid', 'bidtime', 'bidderrate', 'openbid']]
Y = data.price

xData = X.values
yData = Y.values

In [3]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.33, random_state = 365)

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
reg = LinearRegression()

reg.fit(xTrain, yTrain)

y_pred = reg.predict(xTest)
mean_squared_error(yTest, y_pred)

126184.35650017494

In [8]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
mean_squared_error(yTest, y_pred)

145019.64931645885

In [12]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/auction_data/test_set_label.csv')
test_data.head()

    auctionid     bid   bidtime          bidder  bidderrate  openbid
0  1640550476  175.00  4.329410   simonho2001sg           8      1.0
1  1644343468  111.11  0.587164  tab999@msn.com          84      1.0
2  1639979107  103.50  6.999572       inyerdrms           2      5.0
3  1649718196  620.00  2.750775         kjr2306          24      1.0
4  1644077820   60.00  1.393611       chevysred          -1      1.0

In [16]:
test_data = test_data[['bid', 'bidtime', 'bidderrate', 'openbid']]
vals = reg.predict(test_data.values)

In [17]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res.to_csv("Bidprediction.csv", index = False)