In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Wine_Dataset/Training_set_redwine.csv')

data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,11.1,0.390,0.54,2.7,0.095,21.0,101.0,1.00010,3.13,0.51,9.5,5
1,15.6,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
2,8.4,0.670,0.19,2.2,0.093,11.0,75.0,0.99736,3.20,0.59,9.2,4
3,7.7,0.180,0.34,2.7,0.066,15.0,58.0,0.99470,3.37,0.78,11.8,6
4,12.2,0.450,0.49,1.4,0.075,3.0,6.0,0.99690,3.13,0.63,10.4,5

In [2]:
X = data.drop(['quality'], axis=1)
Y = data.quality

xData = X.values
yData = Y.values

In [5]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.1, random_state = 365)

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=25, random_state=365)
clf.fit(xTrain, yTrain)
y_pred=clf.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

66.96428571428571

In [11]:
vals = model.predict(xTest)

In [12]:
res = pd.DataFrame(vals)
res.columns = ["prediction"]
res.to_csv("RedWinePred.csv", index = False)